<header>
    <h1>Svi oglasi za posao</h1>
    <div class= "col-sm-3 pull-right">
        <ul class = "action">
            <li><%= link_to "Novi oglas za posao", new_ad_path, class: "new" %></li>
        </ul>

        <ul class="nav navbar-nav">
          <li class="<%= current_page?("/") ? 'active' : '' %>"><%= link_to "Home", root_path %></li>
          <li class="<%= current_page?("/ads") ? 'active' : '' %>"><%= link_to "Oglasi", ads_path %></li>
          <li class="<%= current_page?("/") ? 'active' : '' %>"><%= link_to "Registriraj se", root_path %></li>
          <li class="<%= current_page?("/") ? 'active' : '' %>"><%= link_to "Prijavi se", root_path %></li>
          <li class="<%= current_page?("/") ? 'active' : '' %>"><%= link_to "Odjavi se", root_path %></li>
        </ul>
    </div>
</header>


<% @ads.each do |ad| %>
    <div>
        <h4><%= link_to ad.name, ad_path(ad) %></h4>
        <p><%= ad.body %></p>
        <h4><%= ad.employer_name %></h4>
        <p><%= ad.employer_email %></p>
        <p><%= ad.category %></p>
        <p><%= time_format(ad.time_period) %></p>
    </div>
<%end%>