<header>
    <h1>Svi oglasi za posao</h1>
</header>


<% @ads.each do |ad| %>
    <div>
        <h4><%= link_to ad.name, ad_path(ad) %></h4>
        <p><%= ad.body %></p>
        <h4><%= ad.employer_name %></h4>
        <p><%= ad.employer_email %></p>
        <p><%= ad.category %></p>
        <p><%= time_format(ad.time_period) %></p>
        <p><%= link_to "Pridruženi oglasi za poslove od #{ad.employer.first_name} #{ad.employer.last_name}"%></p>
    </div>
<%end%>