<header>
    <h1>Svi oglasi za posao</h1>
</header>


 <table class="table table.striped">
        <tr>
            <th>Ime Oglasa</th>
            <th>Opis</th>
            <th>Ime poslodavca</th>
            <th>Email poslodavca</th>
            <th>Kategorija</th>
            <th>Oglas vrijedi do:</th>
        </tr>
            <tbody>
                <% @ads.each do |ad| %>
                    <tr>
                            <td><%= link_to ad.name, ad_path(ad) %></td>
                            <td><%= ad.body %></td>
                            <td><p><%= ad.employer_name %></p></td>
                            <td><p><%= ad.employer_email %></p></td>
                            <td><p><%= ad.category %></p></td>
                            <td><%= render 'expired_date', ad:ad %></td>
                    </tr>
                <%end%>
            </tbody>
</table> 