<% provide(:title, @ad.name) %>
<header>
    <h1><%="Ime oglasa: #{@ad.name}"%></h1>
</header>


<div>
    <p><%= "Opis: #{@ad.body}" %></p>

    <p><%= "Ime poslodavca:  #{@ad.employer_name}" %></p>

    <p><%= "Email poslodavca #{@ad.employer_email}" %></p>

    <p><%= "Kategorija #{@ad.category}" %></p>

    <%= render 'expired_date', ad: @ad %>
</div>

<% if current_user == @ad.employer%>

    <h2>Korisnici prijavljeni za posao</h2>

    <% if @ad.jobs.any? %>
        <table class="table table.striped">
            <thead>
                <tr>
                    <th>Ime i Prezime</th>
                    <th>Email</th>
                    <th>Telefonski broj</th>
                    <th>Adresa</th>
                    <th>Kvalifikacija</th>
                    <th colspan="3"></th>
                </tr>
            </thead>
                <tbody>
                    <% @ad.jobs.each do |job| %>
                        <tr>
                            <td><%= link_to "#{job.first_name} #{job.last_name}", job_path(job) %></td>
                            <td><%= job.email %></td>
                            <td><%= job.phone %></td>
                            <td><%= job.address %></td>
                            <td><%= job.qualification %></td>
                        </tr>
                    <%end%>
                </tbody>
        </table>
    <% end %>
    <p>
        <%= link_to 'Ažurirajte oglas za posao', edit_ad_path(@ad) %> | 
        <%= link_to 'Izbrišite oglas za posao',
        ad_url(@ad), method: :delete,
        data: {confirm: "Jeste li sigurni da želite obrisati posao?"} %>
    </p>
<% else %>
    <%if logged_in? && current_user.jobs.map{|job| job.ad.id != @ad.id}.all?%>
        <p><%= link_to "Prijavite se za posao", new_job_path %></p>
    <% end %>
<% end %>

