<h1>Prijavite se</h1>



<%= simple_form_for :sessions, :url => sessions_path do |u|%>

  <%= u.input :email, label: "Email" %>

  <%= u.input :password, label: "Zaporka" %>

  <%= u.input :password_confirmation, label: "Potvrdite zaporuku"%>

  <%= u.button :submit, class: "btn btn-primary" %>

  <%= link_to 'Natrag', users_path %>
<% end %>