 <header>
    <h1>Sve ponude za posao</h1>
</header>
 
 
 <table class="table table.striped">
        <tr>
            <th>Ime i Prezime</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>Adresa</th>
            <th>Kvalifikacija</th>
        </tr>
            <tbody>
                <% @jobs.each do |job| %>
                    <tr>
                            <td><%= link_to "#{job.first_name} #{job.last_name}", user_path(job.applicant) %></td>
                            <td><%= job.email %></td>
                            <td><p><%= job.phone %></p></td>
                            <td><p><%= job.address %></p></td>
                            <td><p><%= job.qualification %></p></td>
                    </tr>
                <%end%>
            </tbody>
</table> 

