
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Prijava za posao</h3>

    <p>Poštvani,
    
    prijaviti ste se na oglas imenom: <%= @job.ad.name %>. Ako želite kontaktirati poslodaca, njegov/njezin email je <%= @job.ad.employer_email %></p>
    <p>
    Vaši detalji za prijavu<br>
    --------------------------
    </p>
    <p>Ime: <%= @job.first_name %></p>
    <p>Prezime: <%= @job.last_name %></p>
    <p>Email: <%= @job.email %></p>
    <p>Adresa: <%= @job.address %></p>
    <p>Phone: <%= @job.phone %></p>
    <p>
        </p>
  </body>
</html>